div.scroll-menu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scroll-menu a {
  display: inline-block;
  color: #0c152a;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scroll-menu a {
  color: white;
  background-color: #0c152a;
}

div.scroll-menu a:hover {
  color: #b7defb;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #0c152a;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}
