
.gallery-container{
    columns: 3 300px;
    column-gap: 5px;
    width: 60%;
    margin: auto;
}

.gallery-items {
    width: 100%;
}

.gallery-container .image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
}

img {
    width: 100%;
    margin: 1px;
}
