.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
}

.gallery-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-image img:hover {
  cursor: pointer;
  height: auto;
  z-index: 10;
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

@media (max-width:940px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
}