.dropdown-main:hover {
  cursor: pointer;
}

.dropdown-menu li a:active {
  background-color: #0c152a;
}

.dropdown-menu li a {
  margin-right: 1rem !important;
}

.dropdown-menu li {
  padding: 5px;
}

.hover-icon-heart {
  width: 2.5rem;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 940px) {
  .photo-main img {
    width: 95vw;
  }
}
