.register-form {
  background-color: #0c152a;
}

.register-main-container {
  background-color: #0c152a !important;
}

.register-sub-container {
  background-color: #0c152a;
}

.register-header {
  background-color: #0c152a;
}

.register-main-container form input {
  margin: 5px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #0c152a;
}

.register-main-container form input::placeholder {
  color: #0c152a;
}

.register-form input {
  width: 24rem;
}
